#footerContainer {
  margin: 0;
  background-color: #f68c13;
  box-shadow: -0.5rem -0.5rem 1.7rem 0.5rem #f08306 inset;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.title {
  margin: 0;
}