#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  background-color: #D72638;
  margin-bottom: 5rem;
  box-shadow: -0.5rem -0.5rem 1.7rem 0.5rem #bd0f20 inset;
  padding-bottom: 0.4rem;
}

#websiteLogo {
  font-family: "Jacquarda Bastarda 9", serif;
  color: #FFA63F;
  font-size: 2.4rem;
  margin-right: 5rem;
  text-decoration: none;
}

#pageLinks {
  font-family: "Bitcount Prop Double", system-ui;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  color: white;
}

.navButton {
  border: none;
  background-color: #D72638;
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
}

.navButton:hover {
  opacity: 0.7;
  cursor: pointer;
}