#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5em;
  background-color: #D72638;
  margin-bottom: 5em;
  box-shadow: -0.5em -0.5em 1.7em 0.5em #bd0f20 inset;
}

#websiteLogo {
  font-family: "Jacquarda Bastarda 9", serif;
  color: #FFA63F;
  font-size: 2.4em;
  margin-right: 5em;
  text-decoration: none;
}

#pageLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  color: white;
}

.navButton {
  border: none;
  background-color: #D72638;
  color: white;
  font-size: 1.3em;
  text-decoration: none;
}

.navButton:hover {
  opacity: 0.7;
  cursor: pointer;
}